<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
    <sitecore role:require="Standalone or ContentDelivery or ContentManagement" search:require="solr">
        <contentSearch>
            <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
                <indexes role:require="Standalone or ContentManagement" hint="list:AddIndex">
                    <index id="sitecore_master_index">
                        <locations hint="list:AddCrawler">
                            <crawler type="Sitecore.Commerce.Engine.Connect.Search.Crawlers.CatalogsCrawler, Sitecore.Commerce.Engine.Connect">
                                <patch:attribute name="type">Sitecore.Support.Commerce.Engine.Connect.Search.Crawlers.CatalogsCrawler, Sitecore.Support.276324.295867</patch:attribute>
                            </crawler>
                            <crawler type="Sitecore.Commerce.Engine.Connect.Search.Crawlers.CategoriesCrawler, Sitecore.Commerce.Engine.Connect">
                                <patch:attribute name="type">Sitecore.Support.Commerce.Engine.Connect.Search.Crawlers.CategoriesCrawler, Sitecore.Support.276324.295867</patch:attribute>
                            </crawler>
                            <crawler type="Sitecore.Commerce.Engine.Connect.Search.Crawlers.SellableItemsCrawler, Sitecore.Commerce.Engine.Connect">
                                <patch:attribute name="type">Sitecore.Support.Commerce.Engine.Connect.Search.Crawlers.SellableItemsCrawler, Sitecore.Support.276324.295867</patch:attribute>
                            </crawler>
                        </locations>
                    </index>
                    <index id="sitecore_web_index">
                        <locations hint="list:AddCrawler">
                            <crawler type="Sitecore.Commerce.Engine.Connect.Search.Crawlers.CatalogsCrawler, Sitecore.Commerce.Engine.Connect">
                                <patch:attribute name="type">Sitecore.Support.Commerce.Engine.Connect.Search.Crawlers.CatalogsCrawler, Sitecore.Support.276324.295867</patch:attribute>
                            </crawler>
                            <crawler type="Sitecore.Commerce.Engine.Connect.Search.Crawlers.CategoriesCrawler, Sitecore.Commerce.Engine.Connect">
                                <patch:attribute name="type">Sitecore.Support.Commerce.Engine.Connect.Search.Crawlers.CategoriesCrawler, Sitecore.Support.276324.295867</patch:attribute>
                            </crawler>
                            <crawler type="Sitecore.Commerce.Engine.Connect.Search.Crawlers.SellableItemsCrawler, Sitecore.Commerce.Engine.Connect">
                                <patch:attribute name="type">Sitecore.Support.Commerce.Engine.Connect.Search.Crawlers.SellableItemsCrawler, Sitecore.Support.276324.295867</patch:attribute>
                            </crawler>
                        </locations>
                    </index>
                </indexes>
            </configuration>
            <indexConfigurations>
                <defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
                    <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                        <fields hint="raw:AddComputedIndexField">
                            <field fieldName="commercesearchitemtype" returnType="text">Sitecore.Support.Commerce.Engine.Connect.Search.ComputedFields.CommerceSearchItemTypeField, Sitecore.Support.276324.295867</field>
                        </fields>
                    </documentOptions>
                </defaultSolrIndexConfiguration>
            </indexConfigurations>
        </contentSearch>
        <commerceEngineConnector>
            <types>
                <type name="ICommerceSearchManager" type="Sitecore.Support.Commerce.Engine.Connect.Search.CommerceSearchManager, Sitecore.Support.276324.295867" patch:instead="*[@type='Sitecore.Commerce.Engine.Connect.Search.CommerceSearchManager, Sitecore.Commerce.Engine.Connect']" />
            </types>
        </commerceEngineConnector>
    </sitecore>
</configuration>